# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv2/
.venv/
.env

# NPM / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
npm-debug.log*

# Django
backend/db.sqlite3
backend/media/
backend/static/

# OS / Editor
.idea/
.vscode/
.DS_Store
Thumbs.db
.tmp/
